:root {
  --color-dark: #1e202b;
  --color-dark-alt: #262936;
  --color-light: #fff;
  --color-primary: #009ad8;
}
html {
  font-size: 14px;
}

body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background: var(--color-dark);
  text-wrap: balance;
}
a {
  text-decoration: none;
}
/* Start Navbar */

.navbar-brand {
  display: flex;
  align-items: center;
}

nav {
  background-color: #1e202b;
}

.weather-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.weather-tagline {
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  color: #d2c4c4;
}

.weather-tagline:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  margin-right: 15px;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link.active {
  color: #009ad8;
  border-color: #009ad8;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-nav .nav-link:hover {
  color: #009ad8;
  border-color: #009ad8;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-toggler-icon {
  display: inline-block;
}

.navbar-toggler .close-icon {
  display: none;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  display: inline-block;
  color: #009ad8;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .close-icon {
  display: inline-block;
  color: #009ad8;
}

.external-navbar {
  background-color: #1e202b;
  border-top: 2px solid #dee2e6;
}
.external-navbar a {
  color: #fff;
  font-size: 18px;
  background-color: #1e202b;
  border-radius: 50%;
}

.external-navbar.nav-link.active {
  color: #009ad8;
}
/* Start Home */
.hero {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 70px;
  min-height: 350px;
}

.find-form input.form-control,
.subscribe-form input.form-control {
  padding: 20px 50px 20px 20px;
  background-color: var(--color-dark);
  color: var(--color-light);
  outline: none;
  /* border: none; */
  border-radius: 30px;
}
.find-form input.form-control:focus,
.subscribe-form input.form-control:focus {
  box-shadow: none;
}
.find-form input.form-control::placeholder,
.subscribe-form input.form-control::placeholder {
  color: #757575;
}

.btn-find {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  border: none;
  border-radius: 30px;
  color: var(--color-light);
}

/* Start Forecast Table */
.forecast-table {
  margin-top: -150px;
  margin-bottom: 50px;
}

.forecast {
  background-color: #323544;
}
.card-header {
  background-color: #1e202b;
}
.card-body {
  background-color: #262936;
}
.card {
  --bs-card-border-color: none;
}
.forecast.tomorrow {
  background-color: var(--color-dark-alt);
}
.forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  height: 50px;
}
.forecast .forecast-content {
  padding: 30px 20px;
  height: 250px;
}

.date {
  font-size: 12px;
}
.time {
  font-style: italic;
  font-size: 12px;
}
.forecast-content .num {
  font-size: 70px;
}
.num,
.degree {
  color: var(--color-light);
  font-weight: 700;
}
.custom {
  color: var(--color-primary);
}

/*  Start Footer */
.footer {
  background: var(--color-dark-alt);
  padding: 50px 0;
}

.footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: var(--color-dark);
  color: var(--color-primary);
  text-align: center;
  line-height: 2;
  transition: 0.3s ease;
  font-size: 20px;
}
.footer .social-links a:hover {
  background: var(--color-primary);
  color: var(--color-light);
}

.dashboard {
  background-color: #262936;
  height: 60px;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 18px;
  color: #ccc;
}

.dashboard a {
  color: #009ad8;
  text-decoration: none;
  transition: all 0.5s;
}

.dashboard a:hover {
  text-decoration: underline;
}

.content,
.contact-form {
  margin-top: 120px;
}

.contact-us {
  height: 100%;
  background-color: #1e202b;
}

.map-info {
  margin-top: 20px;
  background-color: #262936;
  padding: 20px;
  width: 450px;
}
.map-info span {
  color: #ccc;
  font-size: 18px;
}
.map-info i {
  color: #009ad8;
  font-size: 25px;
  margin-right: 10px;
}

.map-info ul li {
  margin-bottom: 15px;
  color: #fff;
}

.contact-control {
  width: 100%;
  border: 2px solid #948e8e;
  border-radius: 30px;
  padding: 10px;
  background-color: transparent;
  transition: border-color 0.5s ease;
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

.contact-control:focus {
  border-color: #009ad8;
  outline: none;
}

.contact-control:hover {
  border-color: #009ad8;
}

.contact-button {
  width: 140px;
  padding: 10px 15px;
  border-radius: 30px;
  transition: all 0.6s;
}

.contact-button:hover {
  background-color: transparent;
  color: #009ad8;
  border: 2px solid #009AD8;
}
